* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 100px;
}
.card {
  height: 400px;
  width: 300px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(-35%);
  transition: 0.8s;
}
.text h2 {
  font-size: 40px;
  margin: 5px 0px 10px 5px;
}

.text p {
  margin-left: 10px;
  padding-bottom: 20px;
}

.text:hover {
  transform: translateY(-100%);
}
